<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-title"><%= section_title%></p>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count%> / <%= todos.count %>  </p>
  </div>

  <ul>
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <label class="TodoItem-container">
          <% if todo.completed %>
            <input class="TodoItem-checkbox" id="Todocheckbox" type="checkbox" checked=true />
            <p style="text-decoration: line-through;"><%= todo.todo_text %></p>
          <% else %>
            <input class="TodoItem-checkbox" id="Todocheckbox" type="checkbox" />
             <%= todo.todo_text %>
          <% end %>
          <% if show_due_date %>
            <p class="TodoItem-dueDate"><%=todo.due_date.to_s(:short)%> </p>
          <% end %>
          <a class="TodoItem-delete" href="javascript:void(0)">
            <img class="TodoItem-delete" src="trashcan.png">
          </a>
        </label>
      </li>
    <% end %>
  </ul>

</section>
